<mat-tab-group [formGroup]="form">
  <mat-tab label="First"><input formControlName="start" [value]="form.get('start').value"></mat-tab>
  <mat-tab label="Second"><input formControlName="start" [value]="form.get('start').value"></mat-tab>
  <mat-tab label="Third"><input formControlName="start" [value]="form.get('start').value"></mat-tab>
</mat-tab-group>

<mat-tab-group [formGroup]="form">
  <mat-tab label="First"><input formControlName="end" [value]="form.get('end').value"></mat-tab>
  <mat-tab label="Second"><input formControlName="end" [value]="form.get('end').value"></mat-tab>
  <mat-tab label="Third"><input formControlName="end" [value]="form.get('end').value"></mat-tab>
</mat-tab-group>